<template name="cajasAdmin">

	<div class="panel panel-success">
	  	<div class="panel-heading"><strong><h3>Lista de cajas</h3></strong></div>
	  	<div class="panel-body">
	  		<div class="col-lg-12">
			    <a href="#"	id="prueba" class="btn btn-info btn-xs">Detalle</a>	
			    {{#with cajaA}}
			    	{{ingreso}}
			    {{/with}}

		      	{{> EasySearch.Input index=cajitas attributes=searchAttributes }}
		      	<hr />
	      	</div>		      		    
			<div class="col-lg-12">
				<table class="table table-hover">
					<thead>
				      <tr>
			          	<th class="#80cbc4 teal-text">FECHA</th>
			          	<th class="#80cbc4 teal-text">INGRESO</th>
			          	<th class="#80cbc4 teal-text">EGRESO</th>
			          	<th class="#80cbc4 teal-text">TOTAL</th>
	                    <th class="#80cbc4 teal-text">ACCION</th>
				      </tr>
				    </thead>
				    <tbody>
				    	{{#EasySearch.Each index=cajitas}}	
				      <tr>
				        <td></td>
				        <td>{{ingreso}}</td>
				        <td></td>
				        <td></td>
				        <td><!--<a href="#"	class="modalPacienteInfo btn btn-info btn-xs">Detalle</a>--></td>
				      </tr>
				      	{{/EasySearch.Each}}
				    </tbody>	
				</table>						

				{{#EasySearch.IfNoResults index=cajitas}}
					<p>No hay resultados ...</p>
				{{/EasySearch.IfNoResults}}

				{{#EasySearch.IfSearching index=cajitas}}
					<p>Buscando ...</p>
				{{/EasySearch.IfSearching}}
			
				{{>EasySearch.Pagination index=cajitas}}
			</div>			
		</div>		
	</div>
</template>