<template name="tratamientoDetail">	
{{#with tratamiento}}
	<div class="panel panel-default">
	  <div class="panel-heading"><h3>{{nombre}}</h3></div>
	  <div class="panel-body">
	    <table class="table table-hover">				
		    <tbody>		    	
		      <tr><td>Tratamiento: {{nombre}}</td></tr>		      	
		      <tr><td>Duración: {{duracion}} min</td></tr>
		      <tr><td>Importe: ${{importe}}</td></tr>
		      <tr><td>Descripción: {{descripcion}}</td></tr>
		      <tr><td>Frecuencia: {{frecuencia}}</td></tr>
		    </tbody>	
		</table>
	  </div>
	</div>
{{/with}}
</template>