<template name="consultorios">
<!-- ********************** MODAL INFO DEL CONSULTORIO *********************-->
<div class="modal" id="modalConsultorioInfo" role="dialog">                      
    <div class="modal-dialog modal-md">                       

      <!-- Modal content-->
      <div class="modal-content">
        
        
        <div class="modal-body">
      <div class="panel panel-info">
          <div class="panel-heading">
            <button type="button" class="close" data-dismiss="modal">&times;</button>          
            <h3>Información del consultorio</h3>
          </div>              
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                    <th class="col-xs-4"></th>
                    <th class="col-xs-8"></th>                      
                </tr>
              </thead>        
              <tbody>
                <tr>
                  <td><strong><p>Nombre del consultorio</p></strong></td>
                  <td>{{consultorioInfo.nombreConsultorio}}</td>
                </tr>                                        
              </tbody>  
          </table>
            <div class="form-group">
            <label for="usr">Comentarios del consultorio</label>
            <textarea disabled class="form-control" rows="5" id="descripcion" value={{consultorioInfo.descripcion}}></textarea>
          </div> 
          
          
          </div>
      </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
</div>

<!-- ****************** MODAL CAMBIAR PASS **********************************-->
<div class="modal" id="modalConsultorioChangePass" role="dialog">
    <div class="modal-dialog modal-md">                       

      <!-- Modal content-->
      <div class="modal-content">
        <form class="form" id="formChangePassConsultorio">
          <div class="modal-body">
            
              
                <div class="panel panel-danger">
                  <div class="panel-heading">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>          
                      <h3>Cambiar Contraseña del consultorio</h3>
                  </div>              
                  <div class="panel-body">              
                      <div class="form-group">
                          <label for="usr">Contraseña nueva</label>
                          <input type="text" class="form-control" id="newpass" value={{consultorioChangePass.dni}}>
                      </div>
                      <div class="form-group">
                          <label for="usr">Repetir contraseña nueva</label>
                          <input type="text" class="form-control" id="newpassaux" value={{consultorioChangePass.dni}}>
                      </div>

                  </div>
                </div>
              </div>

              <div class="modal-footer">
                    <button type="submit" id="submit" class="btn btn-success">Enviar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
              </div>
            
          
        </form>        
          
      </div>
      
    </div>
</div>

<!-- ******************MODAL EDITAR CONSULTORIO********************************-->
<div class="modal" id="modalConsultorioEditar" role="dialog">
    <div class="modal-dialog modal-md">                       

      <!-- Modal content-->
      <div class="modal-content">
        <form class="form" id="formModificarConsultorio">      
          <div class="modal-body">
            <div class="panel panel-warning">
              <div class="panel-heading">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>          
                    <h3>Editar consultorio</h3>
              </div>              
              <div class="panel-body">            
                    <div class="form-group">
                    <label for="usr">Nombre del consultorio</label>
                    <input type="text" class="form-control" id="nombreConsultorio" value={{consultorioEditar.nombreConsultorio}}>
              </div>                                             
              <div class="form-group">
                    <label for="usr">Descripcion del consultorio</label>
                    <textarea class="form-control" rows="5" id="descripcion" value={{consultorioEditar.descripcion}}></textarea>
              </div>
              </div>
          </div>
        </div> 

        <div class="modal-footer">
      <button type="submit" id="submit" class="btn btn-success">Guardar</button>                      
      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    </div>   
    </form>        
          
      </div>
      
    </div>
</div>

<!--********************************************************************************************************************-->
  
         <div class="panel panel-success">
              <div class="panel-heading"><strong><h3>Lista de consultorios</h3></strong></div>
              <div class="panel-body">		    
                <div class="col-lg-12">
                    <a class="btn btn-success btn-md" href="{{ pathFor 'consultorio_form'}}">
                        Añadir nuevo consultorio
                    </a>					
                          {{> EasySearch.Input index=consultorios attributes=searchAttributes }}
                          <hr />
                  </div>			
                <div class="col-lg-12">
                    <table class="table table-hover">
                        <thead>
                          <tr>
                              <th class="#80cbc4 teal-text">NOMBRE</th>
                              <th class="#80cbc4 teal-text">EMAIL</th>                              
                            <th class="#80cbc4 teal-text"></th>
                          </tr>
                        </thead>
                        <tbody>
                            {{#EasySearch.Each index=consultorios}}	
                          <tr>
                            <td>{{nombreConsultorio}}</td>
                            <td>{{email}}</td>                            
                            <td>
                                <span class="right">		                                
                                <a href="#"	class="modalConsultorioInfo btn btn-info btn-xs">Detalle</a>
                                <a href="#" class="modalConsultorioEditar btn btn-warning btn-xs">Editar</a>                                
                                <a href="#" class="modalConsultorioChangePass btn btn-danger btn-xs">Cambiar Pass</a>                
                                </span>
                            </td>
                          </tr>
                              {{/EasySearch.Each}}
                        </tbody>	
                    </table>						
    
                    {{#EasySearch.IfNoResults index=consultorios}}
                        <p>No hay resultados ...</p>
                    {{/EasySearch.IfNoResults}}
    
                    {{#EasySearch.IfSearching index=consultorios}}
                        <p>Buscando ...</p>
                    {{/EasySearch.IfSearching}}
                
                    {{>EasySearch.Pagination index=consultorios}}
                </div>			
            </div>		
        </div>
    
    </template>