<template name="pacienteObra">
		<div class="row">
			<div class="col-lg-12"> 
				<a class="btn btn-success btn-md" href="{{ pathFor 'pacientes'}}">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					Volver al listado de pacientes
				</a>
				<hr>
			</div>
		</div>
		<div class="row">		

			<div class="col-lg-6">

			{{#with paciente}}
				<div class="panel panel-success">
				  <div class="panel-heading"><strong><h3>{{nombreApellido}}</h3></strong></div>
				  <div class="panel-body">
				    <p>DNI: {{dni}}</p>
				  </div>
				</div>

				<div class="panel panel-info">
				  <div class="panel-heading"><h4>Mis obras</h4></div>
				  <div class="panel-body">
				    {{#if misobras}}
						<table class="table table-hover">
							
						    <tbody>
						    	{{#each misobras}}
						      <tr>
						        <td>{{nombre}}</td>
						        <td>{{carnet}}</td>
						        <td><a href="#" class="removerObra"> <button class="btn btn-danger btn-xs">Eliminar</button></a></td>
						      </tr>
						      	{{/each}}
						    </tbody>	
						</table>					
					{{else}}
						<p>Este paciente no tiene Obras Sociales</p>
					{{/if}}
				  </div>
				</div>				
				{{/with}}
			</div>
			<div class="col-lg-6">
				<div class="panel panel-info">
				  <div class="panel-heading col-lg-12">
				  	<div class="col-lg-6 col-sm-6"><h4>Agregar Obra Social</h4></div>
				  	<div class="col-lg-6 col-sm-6">{{> EasySearch.Input index=obras attributes=searchAttributes }}</div>				  
				  </div>				  
				  <div class="panel-body">
				    
				   
						<table class="table table-hover">							
						    <tbody>
						    	{{#EasySearch.Each index=obras}}	
						      <tr>
						        <td>{{nombre}}</td>
						        <td><span class="right"><a href="#" class="agregarObra" >
										<i class="btn btn-success btn-xs"> Agregar</i></a>				
									</span>
								</td>
						      </tr>
						      	{{/EasySearch.Each}}
						    </tbody>	
						</table>			
						

						{{#EasySearch.IfNoResults index=obras}}
							<p>No hay resultados ...</p>
						{{/EasySearch.IfNoResults}}

						{{#EasySearch.IfSearching index=obras}}
							<p>Buscando ...</p>
						{{/EasySearch.IfSearching}}
					
					{{>EasySearch.Pagination index=obras}}
				  </div>
				</div>				
		      		
			</div>	
		</div>
</template>