<template name="historias">
<!-- ******************MODAL AGREGAR HISTORIA CLINICA ********************************-->
<div class="modal" id="modalHistoriaClinica2" role="dialog">
  	<div class="modal-dialog modal-md">			    
      	<!-- Modal content-->
      	<div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Nueva Historia Clínica</h4>
	        </div>			        
		    <form class="form" id="formHistoriaClinica">						    
			    <div class="modal-body">			    				  	
				  	<div class="form-group">
					  <label for="imagen">Imágen</label>
					  <input id="fileInput" type="file"/>
					</div>
				  	<div class="form-group">
					  <label for="comentario">Comentario</label>
					  <textarea class="form-control" rows="5" id="comentario"></textarea>
					</div>

				  	
				</div>
				<div class="modal-footer">
		        	<button type="submit" id="submit" class="btn btn-success">Guardar</button>        	
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>		        
			    </div>							
		    </form>			        
      	</div>
    </div>
</div>
<!-- ******************MODAL EDITAR HISTORIA CLINICA ********************************-->
<div class="modal" id="modalEditarHistoria2" role="dialog">
  	<div class="modal-dialog modal-md">			    
      	<!-- Modal content-->
      	<div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title">Editar Historia Clínica</h4>
	        </div>			        
		    <form class="form" id="formEditarHistoria">						    
			    <div class="modal-body">

			    	<div class="form-check">
					  <input class="form-check-input" type="checkbox" value="" id="idCheckOtraImg">
					  <label class="form-check-label" for="otraImg">Otra imágen</label>
					</div>
					{{# if cargarOtraImagen}}
				  	<div class="form-group">					  
					  <input id="fileInput" type="file" class="custom-file-input"/>
					</div>
					{{/if}}
				  	<div class="form-group">
					  <label for="comentario">Comentario</label>
					  <textarea class="form-control" rows="5" id="comentario" value="{{historiaEditar.comentario}}"></textarea>
					</div>			  	
				</div>
				<div class="modal-footer">
		        	<button type="submit" id="submit" class="btn btn-success">Guardar</button>        	
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>		        
			    </div>							
		    </form>			        
      	</div>
    </div>
</div>

<!-- ********************** MODAL INFO HISTORIA *********************-->
<div class="modal" id="modalInfoHistoria2" role="dialog">									  	
  	<div class="modal-dialog modal-md">										    
      <div class="modal-content">
        <div class="modal-body">
			<div class="panel panel-info">
			  	<div class="panel-heading">
			  		<button type="button" class="close" data-dismiss="modal">&times;</button>          
			  		<h3>Información de la Historia Clínica</h3>
			  	</div>					  	
			  	<div class="panel-body">
			  		<table class="table table-hover">
				  		<thead>
					      <tr>
				          	<th class="col-xs-4"></th>
				          	<th class="col-xs-8"></th>	                    
					      </tr>
					    </thead>				
					    <tbody>					      
					      <tr>
					      	<td><strong><p>Fecha</p></strong></td>
					      	<td>{{formatDate2 historiaInfo.fecha}}</td>
					      </tr>	
					      <tr>
					      	<td><strong><p>Imágen</p></strong></td>
					      	<td><a href="{{historiaInfo.link}}?download=true" download="{{historiaInfo.name}}" target="_blank"> {{historiaInfo.name}} </a></td>
					      </tr>			      
					    </tbody>	
					</table>
			  		<div class="form-group">
					  <label for="usr">Comentarios</label>
					  <textarea disabled class="form-control" rows="5" id="comentario" value={{historiaInfo.comentario}}></textarea>
					</div> 
			  	</div>
			</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
</div>

<!--*********************************************************************************************************-->
<div class="row">
	<div class="col-lg-12"> 
		<a class="btn btn-success btn-md" href="{{ pathFor 'pacientes'}}">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			Volver al listado de pacientes
		</a>		
		<hr>
	</div>
</div>
<div class="row">		

	<div class="col-lg-12">

	{{#with paciente}}				

		<div class="panel panel-info">
		  <div class="panel-heading">
		  		<h3>Historia clínica: <strong> {{nombreApellido}}</strong></h3>
		  		<a href="#" id="modalHistoriaClinica1" class="btn btn-success btn-md">Agregar Historia Clínica
				</a>
		  </div>			  
		  <div class="panel-body">
		    {{#if mishistorias}}
				<table class="table table-hover">
					<thead>
				      <tr>				          	
			          	<th class="#80cbc4 teal-text">COMENTARIOS</th>
						<th class="#80cbc4 teal-text">IMAGEN</th>
						<th class="#80cbc4 teal-text">FECHA</th>
	                    <th class="#80cbc4 teal-text">ACCION</th>	                    
				      </tr>
				    </thead>
				    <tbody>
				    	{{#each mishistorias}}
				      <tr>					        
				        <td>{{comentario}}</td>
				        <td><a href="{{link}}?download=true" download="{{name}}" target="_blank"> {{name}} </a></td>
				        <td><strong style="color: #21618c">{{formatDate2 fecha}} </strong></td>					        
				        <td><a href="#" id="modalEditarHistoria1" class="btn btn-warning btn-xs">Editar</a>
				            <a href="#"	id="modalInfoHistoria1" class="btn btn-info btn-xs">Detalle</a></td>
				      </tr>
				      	{{/each}}
				    </tbody>	
				</table>					
			{{else}}
				<p>Este paciente no tiene historias clinicas</p>
			{{/if}}
		  </div>
		</div>				
	{{/with}}
	</div>				
</div>
	
</template>